<div class="container-fluid g-8"><app-header></app-header>
<main class="black-border">
  <div class="toolbar">
    <div class="add-employee">

      <button type="button" class="btn btn-outline-success btn-lg">Add Employee</button>
    </div>

    <div class="search-employees">
      <input type="search" class="form-control" placeholder="Search Employees">
    </div>
    </div>
    <div class="employees ">

      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added!</span>
        </div>
      </div>

    </div>

    </main>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Employee Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col form-heading">
                <h6 class="text-secondary fst-italic">Personal Information</h6>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="datepicker" class="form-label">Birthdate</label>
                <input type="date" class="form-control" id="datepicker" formControlName="birthday">
              </div>
              <div class="col">
                <div class="row">
                  <h6 class="text-secondary">Gender</h6>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Insert</button>
        </div>
        </div>
        </div>
        </div>
