<div class="container-fluid g-8"><app-header></app-header>
<main class="black-border">
  <div class="toolbar">
    <div class="add-employee">

      <button type="button" class="btn btn-outline-success btn-lg">Add Employee</button>
    </div>

    <div class="search-employees">
      <input type="search" class="form-control" placeholder="Search Employees">
    </div>
    </div>
    <div class="employees ">

      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added!</span>
        </div>
      </div>

    </div>

    </main>
    </div>

    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter Employee Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
